body {
    font-family: 'Open Sans', sans-serif;
}

.header {
    /* width: 1920px;
    height: 850px;
    flex-shrink: 0; */
    background-color: rgba(229, 84, 115, 0.10);
}

.banner {
    display: flex;
    margin: 0 240px;
    align-items: center;
    justify-content: space-between;
}

.flower-pic {
    width: 635px;
    height: 800px;
}

.text-primary {
    color: white;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background-color: #E55473;
    border: 0;
    margin-top: 32px;
}

.flower-title {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 0;
    max-width: 708px;
    max-height: 288px;
}

.flower-reader {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 32px;
    max-width: 634px;
    max-height: 90px;
}

.padding {
    padding: 150px 240px 0px 240px;
}

.section-description {
    margin-bottom: 60px;

}

.main {
    width: 100%;
}

.section-start {
    margin-top: 150px;
    margin: auto;
    text-align: center;
    max-width: 600px;
}

.section-image {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.section-image .first-image {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.first-image img {
    margin: 110px 78px 0px 76px;
    margin-bottom: 0px;

}

.second-image {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);

}

.second-image img {
    margin: 117px 47px 50px 47px;
    margin-bottom: 52px;
}

.third-image {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(85, 140, 30, 0.15);
}

.third-image img {
    margin: 67px 75px 0px 75px;
    margin-bottom: 0px;
}

.link {

    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.deal {
    display: flex;
    align-items: center;
    margin: 200px 0px;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.description {
    text-align: center;
    max-width: 500px;
}

.section3-title {
    color: #272727;
    font-family: Lato;
    font-size: 40px;

    font-weight: 800;

}

.side {
    /* margin: 100px 450px 100px 1200px; */
}

.span-color {
    color: #e82e56;
}

.sign {
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border: 0;
}

.section-instagram {
    padding: 0px 100px 0px 100px;
}

.instagram {
    margin-top: 300px;
}

.instagram-title {
    max-width: 700px;
    margin: auto;
    text-align: center;
}

.instagram-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.instagram-image {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.latest-deal {
    background-image: url('/Flower\ Asset/Rectangle 9.png');
    background-repeat: no-repeat;
    height: 350px;
    margin: 200px 200px;

}

.deal-item {
    position: relative;
    top: 40%;
    text-align: center;
}

.deal-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;

    font-weight: 800;

}

.deal-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.mail {
    width: 200px;
    height: 64px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    padding: 20px;
}

.subscribe {
    width: 150px;
    height: 64px;
    border-radius: 8px;
    background: #E55473;
}

.end {
    align-items: center;
    background-color: #272727;
    text-align: center;
    height: 500px;
}

.footer-item {
    width: 100%;
}

.footer-title {
    margin: 40px 0px;
    color: #FFF;
}

.footer-color {
    color: #E55473;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.mark {
    color: rgba(255, 255, 255, 0.40);
    /* text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; */
}